<form action="/search" method="post" id="form">
  <label for="project">Github project: </label>
  <input type="text" name="project"/>
  <a href="#" id="search">Search</a>
  <div id="commits"></div>
</form>